<template>
  <div class="home">
    <a href="https://gitlab.com/etofun/frontend" target="_blank" rel="noopener noreferrer">
      https://gitlab.com/etofun/frontend
    </a>
    <div>
      <button @click="handleClick">
        click me
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator';

export default class Home extends Vue {
  async handleClick() {
    try {
      await this.$api.admin.getItem('٩(｡•́‿•̀｡)۶', 42);
    } catch(exp) {
      console.log(exp);
    }
  }
}
</script>
